<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="animated fadeIn">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis labore, autem enim, atque, esse nobis dolores modi nostrum minus totam repellat odio neque. Voluptatem porro vero in blanditiis nulla excepturi? Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Optio necessitatibus ipsum autem culpa, esse enim excepturi, amet est ratione, maiores quia architecto iure labore? Repellendus officiis veritatis error saepe deleniti.
</p>